/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}

/* header and footer */

header,
footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Wittgenstein', serif;
    src: ('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
}

body {
    font-family: 'Wittgenstein', serif;
    line-height: 1.5;
    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;
}

html {
    font-size: 10px;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.25rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

p,
li {
    font-size: 2rem;
}

header {
    text-align: center;
}

section h2+p {
    text-indent: 20px;
}

a:link {
    color: darkmagenta;
}

a:visited {
    color: indigo;
}

a:hover {
    color: blueviolet;
    text-decoration: none;
}

a:focus {
    color: darkslateblue;
    text-decoration: none;
    outline: none;
}

a:active {
    outline: initial;
    background-color: maroon;
    color: white;
    font-weight: bold;
}

a.external::after {
    content: "";
    background-image: url("images/external-link-52.png");
    background-position: right;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding-right: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

li {
    list-style: circle;

}

nav {
    background-color: white;
    font-family: 'Wittgenstein', serif;
    margin: 0;

}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}

nav ul a {
    text-decoration: none;
    display: block;
    padding: 35px;
    font-size: 2.4rem;
    border: 2px solid #a66
}